* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 245);
    height: calc(100% - 100px);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 1.7rem;
}

.col {
    padding: 0;
}

.photo {
    max-width: 50%;
    border-radius: 100%
}

.komment-box {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.komment {
    display: block;
    position: relative;
    width: 50px;
    margin-right: 24px;

    .cm-photo {
        @extend %photo--style;
        border: 3px solid $light;

        &.second {
            position: absolute;
            right: -7px;
        }
    }
}



.between {
    @extend %inline-type;
    margin-bottom: 25px;
}

.btn {
    margin-left: auto;
    padding: 13px 50px;
    border-radius: 30px;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 30px;
    border-radius: 5px;

    .widget {
        display: flex;
        flex-direction: column;
        background-color: $light;
        padding: 15px;
        @extend %box-shadow;

        .gazoil {
            font-weight: 600;
        }

        .eclipse-content {
            font-weight: 600;

        }

        .block-bottom {
            margin-top: auto;
        }
    }

    .gray-elemets {
        text-decoration: none;
        display: inline-flex;
        flex-wrap: wrap;

        a {
            text-decoration: none;
            color: gray;
            padding: 5px;
            border-radius: 4px;
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border: 1px solid gray;
            margin-right: 5px;
        }


    }
}


.aside {
    display: flex;
    align-items: center;
    padding-top: 17px;
    justify-content: space-between;

    .aside-link {
        display: flex;
        align-items: center;
    }

    .aside-content {
        display: flex;
        align-items: center;

        .aside-img {
            width: 13px;
            height: 13px;
            background-color: rgb(240, 197, 8);
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}

.aside-item {
    display: flex;
    margin: 0 auto;
    list-style: none;

    a {
        color: black;
        padding: 0 7px;
    }
}