header {
    background-color: white;
    margin-bottom: 25px;
}

.align-items-center {
    border-bottom: 1px solid rgb(184, 184, 184);
}

.logo-pic {
    height: 70px;
}

.gdrive-radio {


    .gdrive-btn {

        border: none;
        background: 0;

        .radio {
            display: flex;
        }

        .gdrive-img {
            height: 55px;
        }

        .gdrive-text {
            text-align: initial;
            padding-left: 10px;
        }
    }
}




.top-right-menu {

    .nav {
        align-items: center;

        .nav-icon {
            width: 25px;
            height: 20px;
        }
    }

    .trm-photo {
        @extend %photo--style;
    }

    .avatar-top {
        display: flex;

    }

    .info {
        font-size: 11px;
        padding: 0 1rem;
        margin-top: -0.5rem;
    }
}

.form-control {
    border: 0;
}

.main-menu {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    align-items: center;

    li {
        position: relative;
        list-style: none;

        .sub-menu {
            margin: 0;
            padding: 0;
            display: none;
            position: absolute;
            width: 100%;
            right: 0;
            top: 100%;
        }

        a {
            display: flex;
            text-decoration: none;
            color: black;
            height: 62px;
            line-height: 40px;
            transition: all .5s;
            align-content: center;
            flex-wrap: wrap;
            justify-content: space-around;

        }

        a:hover {
            background-color: $primary;
        }
        .mm-item:hover .sub-menu {
            display: block;
        }
        
    }

    li:hover .sub-menu {
        display: block;
    }
}